.friendMessage {
    display: grid;
    grid-template-areas:
        "a m"
        "t t";
    grid-template-rows: 1fr 20px;
    grid-template-columns: 1fr;

}

.friendImageAndText {
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;

}

.friendImageAndText img {
    margin-right: 30px;
    width: 5em;
}

.friendText {
    position: relative;
    width: fit-content;
    height: fit-content;
    /*border: 0.5px #333 solid;*/
    border-radius: 10px 10px 10px 5px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    padding: 13px 7px;
}

.friendText:after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 38px;
    left: -13px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #F5F7FB transparent transparent;
}

.friendName {
    text-align: start;
    padding-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #000000;
}

.friendMessageText {
    white-space: pre-wrap;
    text-align: end;
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 8px;

    color: #000000;
}

.friendTime {
    display: flex;
    justify-content: start;
    grid-area: t;
    padding: 10px 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
