.friendMessage {


}

.friendImageAndText {
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;

}

.friendImageAndText img {
    width: 48px;

}

.friendText {
    width: 527px;
    height: 60px;
    /*border: 0.5px #333 solid;*/
    border-radius: 10px 10px 10px 0;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    padding: 13px 7px;



}

.friendText:after {

}

.friendName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

.friendTime {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
